---
title: Home | Blas Kozicki 
layout: default
---

<div class="grid justify-items-center items-center h-screen">
  <div class="m-auto text-5xl font-bold">
    <h1 class="text-white">Welcome to <a href="./about.html" class="text-violet-700 hover:underline">Blas Kozicki</a>'s Porfolio</h1>
    <a href="https://nathanmelenbrink.github.io/intro-dig-fab/index.html" class="underline text-white hover:text-white/75">Intro to Digital Fabrication</a>
  </div>
</div>

<nav class="navbar flex w-full flex-nowrap bg-zinc-500/100 text-gray-300 text-xl">
  {% for route in site.data.routes %}
      <a href="{{ route.path | relative_url}}" class="{% if page.url == route.path %}text-gray-800{%endif%} py-3 px-8">{{route.name}}</a>
  {% endfor %}
</nav>

<div class="flex-wrap flex justify-start mt-[5%] flex-row w-[95%] ml-[2.5%]">
  {% assign postsSorted = site.posts | sort: "week-num" %}
  {% for post in postsSorted"%}
  <!-- inline-block -->
      <div class="notvisible inline-block w-[27.3%] mb-[3%] ml-[2%] bg-zinc-600/50 hover:bg-zinc-600/20 h-96 rounded-2xl">
      <a href="{{post.url | relative_url}}" class="w-[100%]">
      <div class="h-[20%]">
        <h1 class="text-center text-gray-300 text-xl mt-7">Week {{post.week-num}}:</h1>
        <h2 class="text-center text-gray-100 text-2xl">{{post.title}}</h2>
      </div>
      <img src="{{'assets/images/'| append: post.front-image | relative_url }}" class="block h-[50%] mt-[10%] object-center mx-auto">
        
      </a>
    </div>
  {% endfor %}
</div>